version: '3.8'
services:
  declutarr:
    image: <replace-with-image>
    container_name: declutarr
    restart: unless-stopped
    volumes:
      - {{ declutarr_config_dir }}:/config
      - {{ declutarr_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with actual ports
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - DECLUTARR__AUTH__APIKEY={{ lookup('file', './api/declutarr_api.key') }}  # API key for Declutarr, read from a local file