services:
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - PROWLARR__AUTH__APIKEY={{ lookup('file', './api/prowlarr_api.key') }}  # API key for Prowlarr, read from a local file
      - UMASK_SET=022
    volumes:
      - {{ prowlarr_config_dir }}:/config
      - {{ media_base_dir }}/Downloading:/Downloads
      - {{ media_base_dir }}/Shows:/Shows
      - {{ media_base_dir }}/Anime:/Anime
    ports:
      - 9696:9696
    restart: unless-stopped