services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - {{ radarr_config_dir }}:/config
      - {{ media_base_dir }}/Movies:/movies #optional
      - {{ media_base_dir }}/Downloading:/downloads #optional
    ports:
      - 7878:7878
    restart: unless-stopped