services:
  radarr:
    image: linuxserver/radarr:
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - RADARR_API_KEY={{ lookup('file', './radarr_api.key') }}
    volumes:
      - "{{ radarr_config_dir }}:/config"
      - "{{ radarr_data_dir }}:/data"
    ports:
      - "7878:7878"
    restart: unless-stopped