services:
  speedtest:
    image: henrywhitaker3/speedtest-tracker
    container_name: speedtest
    restart: unless-stopped
    volumes:
      - {{ speedtest_config_dir }}:/config
    ports:
      - "8765:80"
    environment:
      - TZ=Europe/London
      - OOKLA_EULA_GDPR=true