version: '3.8'
services:
  prometheus:
    image: <replace-with-image>
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - {{ prometheus_config_dir }}:/config
      - {{ prometheus_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with actual ports
    environment:
      - TZ=UTC
