services:
  recommendarr:
    image: tannermiddleton/recommendarr:latest
    container_name: recommendarr
    restart: unless-stopped
    volumes:
      - {{ recommendarr_config_dir }}:/config
      - {{ recommendarr_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with the actual port if needed
    environment:
      - TZ={{ timezone }}  # Timezone for the container, dynamically set using the 'timezone' variable
      - RECOMMENDARR__AUTH__APIKEY={{ lookup('file', './api/recommendarr_api.key') }}  # API key for Recommendarr, read from a local file
