version: '3.8'
services:
  Recommendarr:
    image: <replace-with-image>
    container_name: Recommendarr
    restart: unless-stopped
    volumes:
      - {{ Recommendarr_config_dir }}:/config
      - {{ Recommendarr_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with actual ports
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - RECOMMENDARR__AUTH__APIKEY={{ lookup('file', './api/recommendarr_api.key') }}  # API key for Recommendarr, read from a local file
