services:
  recyclarr:
    image: recyclarr/recyclarr
    container_name: recyclarr
    restart: unless-stopped
    volumes:
      - {{ recyclarr_config_dir }}:/config
      - {{ recyclarr_data_dir }}:/data
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - RECYCLARR__AUTH__APIKEY={{ lookup('file', './api/recyclarr_api.key') }}  # API key for Recyclarr, read from a local file
