services:
  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    restart: unless-stopped
    volumes:
      - {{ lidarr_config_dir }}:/config
      - {{ lidarr_data_dir }}:/data
    ports:
      - "8686:8686"  
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - LIDARR__AUTH__APIKEY={{ lookup('file', './api/lidarr_api.key') }}  # API key for Lidarr, read from a local file
