version: '3.8'
services:
  jellyseerr:
    image: fallenbagel/jellyseerr
    container_name: jellyseerr
    restart: unless-stopped
    volumes:
      - {{ jellyseerr_config_dir }}:/config
      - {{ jellyseerr_data_dir }}:/data
    ports:
      - "5055:5055"  # Replace with actual ports
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - JELLYSEERR__AUTH__APIKEY={{ lookup('file', './api/jellyseerr_api.key') }}  # API key for Jellyseerr, read from a local file
