services:
  exportarr:
    image: <replace-with-image>
    container_name: exportarr
    restart: unless-stopped
    volumes:
      - {{ exportarr_config_dir }}:/config
      - {{ exportarr_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with actual ports
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - EXPORTARR__AUTH__APIKEY={{ lookup('file', './api/exportarr_api.key') }}  # API key for Exportarr, read from a local file