services:
  readarr:
    image: linuxserver/readarr
    container_name: readarr
    restart: unless-stopped
    volumes:
      - {{ readarr_config_dir }}:/config
      - {{ readarr_data_dir }}:/data
    ports:
      - "1234:1234"  # Replace with actual ports
    environment:
      - TZ={{ timezone }}      # Timezone for the container, dynamically set using the 'timezone' variable
      - READARR__AUTH__APIKEY={{ lookup('file', './api/readarr_api.key') }}  # API key for Readarr, read from a local file
